<!DOCTYPE html>
<html lang="en">

{% load static%}

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'CSS/index.css' %}">
</head>

<body>
	<nav class="main-header">
		<div class="container d-flex flex-wrap">
			<ul class="nav me-auto">
				<li class="nav-item"><strong class="nav-link link-body-emphasis px-2">AeroCalc</strong></li>
				<li class="nav-item"><a href="/" class="nav-link link-body-emphasis px-2">Cálculo</a></li>
				<li class="nav-item"><a href="instrucoes" class="nav-link link-body-emphasis px-2">Instruções</a>
				</li>
				<li class="nav-item"><a href="bibliografia"
						class="nav-link link-body-emphasis px-2">Bibliografia</a></li>
				<li class="nav-item"><a href="sobre" class="nav-link link-body-emphasis px-2">Sobre</a></li>
			</ul>
		</div>
	</nav>
	<main class="container">
		<section>
			<div>
				<h1 class="Titulo">Bibliografia</h1>
				<p>Literaturas que foram utilizadas para o embasamento técnico deste site.</p>
			</div>
			<hr>
		</section>

		<section>
			<div class="container">
				<div class="row linha-bibliografia">
					<div class="col imagem-bibliografia">
						<img src="{% static 'images/mattingly_livro.png' %}" height="300" alt="">
					</div>
					<div class="col-9 informacoes">
						<div>
							<h2 class="titulo-bibliografia">Elements of Gas Turbine Propulsion</h2>
							<h3 class="nome-autor">Jack D. Mattingly</h3>
						</div>
						<p class="descricao-bibliografia">A metodologia de Mattingly sobre o cálculo de motores
							aeronáuticos, ideais e reais, é extremamente completa e de fácil entendimento.
							No AeroCalc, todas as fórmulas e parâmetros utilizados são de origem desta obra, sendo seu
							raciocínio utilizado para a geração de outras informações não disponíveis, como no cálculo
							das propriedades por seção de um motor.
							<br>Pode-se considerar esta a bibliografia principal da ferramenta, que deve ser consultada
							caso exista alguma dúvida quanto aos conteúdos utilizados aqui.
						</p>
					</div>
				</div>
				<div class="row linha-bibliografia">
					<div class="col imagem-bibliografia">
						<img src="{% static 'images/Oates-livro.jpg' %}" height="300" alt="">
					</div>
					<div class="col-9 informacoes">
						<div>
							<h2 class="titulo-bibliografia">The Aerothermodynamics of Aircraft Gas Turbine Engines</h2>
							<h3 class="nome-autor">Gordon C. Oates</h3>
						</div>
						<p class="descricao-bibliografia">Assim como na obra de Mattingly, Oates desenvolve modelos matemáticos 
						para previsão de desempenho de motores. Entretanto, seu foco é no processo de otimização dos motores,
						buscando diferentes geometrias ou materiais que possam melhorar o desempenho encontrado.
						<br>Embora menos aplicado neste site, a bibliografia possui informações essenciais para o entendimento
						de modelos matemáticos para cálculo de motores aeronáuticos.
						</p>
					</div>
				</div>
				<div class="row linha-bibliografia">
					<div class="col imagem-bibliografia">
						<img src="{% static 'images/artigo-bibliografia.png' %}" height="300" alt="">
					</div>
					<div class="col-9 informacoes">
						<div>
							<h2 class="titulo-bibliografia">Desenvolvimento de um software online de fácil utilização para cálculo
							de parâmetros de motores aeronáuticos à reação sob condições de projeto e fora de projeto</h2>
							<h3 class="nome-autor">Equipe do AeroCalc</h3>
						</div>
						<p class="descricao-bibliografia">Este trabalho realiza uma revisão e consolidação de estudos sobre análise de
							 motores a jato, com base na metodologia de Mattingly. Um código Python foi desenvolvido e vinculado a um
							  website interativo para facilitar o acesso dos usuários interessados.</p>
					</div>
				</div>
				<div class="row linha-bibliografia">
					<div class="col imagem-bibliografia">
						<img src="{% static 'images/Sae-International-Logo.jpg' %}" width="200" alt="">
					</div>
					<div class="col-9 informacoes">
						<div>
							<h2 class="titulo-bibliografia">ARP755A - Gas Turbine Engine Performance Station Identification and Nomenclature</h2>
							<h3 class="nome-autor">SAE International</h3>
						</div>
						<p class="descricao-bibliografia">Esta norma é responsável por guiar a nomenclatura e identificação das seções dos motores aeronáuticos
							utilizados no AeroCalc.
						</p>
					</div>
				</div>
			</div>
		</section>

	</main>

	<div class="footer-wrapper">
		<div class="container">
			<footer class="d-flex flex-wrap justify-content-between align-items-center rodape">
				<div class="col-md-4 d-flex align-items-center">
				<span>© 2023 AeroCalc </span>
				</div>
			</footer>	
		</div>
	</div>
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
</body>

</html>