<!DOCTYPE html>
<html lang="en">

{% load static%}

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'CSS/index.css' %}">
</head>

<body>
	<nav class="main-header">
		<div class="container d-flex flex-wrap">
			<ul class="nav me-auto">
				<li class="nav-item"><strong class="nav-link link-body-emphasis px-2">AeroCalc</strong></li>
				<li class="nav-item"><a href="/" class="nav-link link-body-emphasis px-2">Cálculo</a></li>
				<li class="nav-item"><a href="instrucoes" class="nav-link link-body-emphasis px-2">Instruções</a></li>
				<li class="nav-item"><a href="bibliografia" class="nav-link link-body-emphasis px-2">Bibliografia</a></li>
				<li class="nav-item"><a href="sobre" class="nav-link link-body-emphasis px-2">Sobre</a></li>
			</ul>
		</div>
	</nav>
	<main class="container">
		<section>
			<div>
				<h1 class="Titulo">Instruções de uso</h1>
				<p>Nesta seção, você encontra algumas informações sobre como utilizar a seção de <a href="/"><b>Cálculo</b></a> do AeroCalc para diferentes tipos de motores. </p>
			</div>
			<hr>
		</section>
		<section>
			<h2 class="subtitulos">Tipos de motores</h2>
			<h3>Turbofan</h3>
			<p></p>

			<h3>Turbojet</h3>
			<p></p>

			<h3>Turboprop</h3>
			<p></p>

			<h3>Ramjet</h3>
			<p></p>

			<h2 class="subtitulos">Modelos de análise</h2>
			<h3>On design</h3>
			<p></p>

			<h3>Off design</h3>
			<p></p>

			<h2 class="subtitulos">Tipos de análise</h2>
			<h3>Ideal</h3>
			<p></p>

			<h3>Não ideal</h3>
			<p></p>

			<h2 class="subtitulos">Variáveis de entrada</h2>
			<p></p>

			<h2 class="subtitulos">Variáveis de saída</h2>
			<p></p>

			<h2 class="subtitulos">Apresentação e análise de resultados</h2>
		</section>
	</main>

	<div class="footer-wrapper">
		<div class="container">
			<footer class="d-flex flex-wrap justify-content-between align-items-center rodape">
				<div class="col-md-4 d-flex align-items-center">
				<span>© 2023 AeroCalc </span>
				</div>
			</footer>	
		</div>
	</div>
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
	</body>
	
	</html>