<!DOCTYPE html>
<html lang="en">

{% load static%}

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'CSS/index.css' %}">
</head>

<body>
	<nav class="main-header">
		<div class="container d-flex flex-wrap">
			<ul class="nav me-auto">
				<li class="nav-item"><strong class="nav-link link-body-emphasis px-2">AeroCalc</strong></li>
				<li class="nav-item"><a href="/" class="nav-link link-body-emphasis px-2">Cálculo</a></li>
				<li class="nav-item"><a href="instrucoes" class="nav-link link-body-emphasis px-2">Instruções</a></li>
				<li class="nav-item"><a href="bibliografia" class="nav-link link-body-emphasis px-2">Bibliográfia</a></li>
				<li class="nav-item"><a href="sobre" class="nav-link link-body-emphasis px-2">Sobre</a></li>
			</ul>
		</div>
	</nav>
	<main class="container">
		<section>
			<div>
				<h1 class="Titulo">Resultados</h1>
				<p>Em caso de dúvidas sobre os resultados, acesse as seções de <a href="instrucoes"><b>Instruções</b></a> e <a href="bibliografia"><b>Bibliografia</b></a> para mais informações</p>
			</div>
			<hr>
		</section>
		<section id="Entradas-usuario">
			<h2>Entradas da análise</h2>

			<div class="nome-do-motor">
				<b>Nome do motor: </b> {{ motor.name }}
			</div>

			<div class="M0">
				<b>Velocidade do ar no escoamento livre [Mach]: </b> {{ motor.M0 }}
			</div>

			<div class="P0/P9">
				<b>Razão das pressões de entrada e saída do motor: </b> {{ P0_P9.0 }}
				<!-- Agora temos a chave P0_P9, vale notar que é uma lista e usamos o .0 pra pegar o primeiro elemento -->
			</div>

			<div class="Tt4">
				<b>Temperatura de saída do combustor [K]: </b> {{ motor.Tt4 }}
			</div>
		</section>

		<section id="Dados-atmosfericos">
			<h2>Dados atmosféricos</h2> 

			<div class="altitude">
				<b>Altitude [m]: </b> {{ atmosfera.height|floatformat:2 }}
			</div>

			<div class="P0">
				<b>Pressão no escoamento livre [Pa]: </b> {{ atmosfera.P0|floatformat:2 }}
			</div>

			<div class="T0">
				<b>Temperatura no escoamento livre [K]: </b> {{ atmosfera.T0|floatformat:2 }}
			</div>

			<div class="a0">
				<b>Velocidade do som no escoamento livre [m/s]: </b> {{ atmosfera.a0|floatformat:2 }}
			</div>
		</section>

		<section id="Resultados-geral">
			<table class="table">
				<thead class="table-dark">
				  <tr>
					<th colspan="4">Parâmetros de saída do motor</th>
				  </tr>
				</thead>
				<tbody>
				  <tr>
					<td>Empuxo específico (F/&#x1E41<sub>0</sub>) [N.s/kg]</td> 
					<td id="Empuxo-especifico">{{Mattingly.F_m0.0|floatformat:2}}</td>
					<td>Eficiência térmica (&#x3B7<sub>T</sub>)</td> 
					<td id="eta_T">{{Mattingly.eta_T.0|floatformat:4}}</td>
				  </tr>
				  <tr>
					<td>Vazão mássica (&#x1E41<sub>0</sub>) [kg/s]</td> 
					<td id="vazao-massica">{{Mattingly.m0_dot.0|floatformat:2}}</td>
					<td>Eficiência propulsiva (&#x3B7<sub>P</sub>)</td>
					<td id="eta_P">{{Mattingly.eta_P.0|floatformat:4}}</td>
				  </tr>
				  <tr>
					<td>Empuxo (F) [N]</td> 
					<td id="Empuxo">{{Mattingly.F.0|floatformat:2}}</td>
					<td>Eficiência Global (&#x3B7<sub>O</sub>)</td> 
					<td id="eta_global">{{Mattingly.eta_Total.0|floatformat:4}}</td>
				  </tr>
				  <tr>
					<td>Razão combustível/ar (f)</td> 
					<td id="razao-combustivel-ar">{{Mattingly.f.0|floatformat:4}}</td>
					<td>Razão da entalpia do queimador pela do escoamento livre (&#x03C4<sub>&#x3BB</sub>)</td> 
					<td id="tau-lambda">{{Mattingly.Tau_lambda.0|floatformat:2}}</td>
				  </tr>
				  <tr>
					<td>Consumo específico de combustível (S) [kg/(N.s)]</td> 
					<td id="Consumo-especifico-combustivel">{{Mattingly.S.0|floatformat:8}}</td>
					<td>Razão entre pressões de entrada e saída do bocal de saída (P<sub>t9</sub>/P<sub>9</sub>)</td> 
					<td id="Pt9/P9">{{Pt9_P9.0 |floatformat:2}}</td>
				  </tr>
				  <tr>
					<td>Consumo de combustível (FC) [kg/s]</td> 
					<td id="consumo-combustivel">{{Mattingly.FC.0|floatformat:4}}</td>
					<td>Razão entre temperaturas de entrada e saída do bocal de saída (T<sub>9</sub>/T<sub>t9</sub>) </td>
					<td id="Tt9/T9">{{T9_Tt9.0 |floatformat:4}}</td>
				  </tr>
				  <tr>
					<td>Razão ar/combustível (AF)</td> 
					<td id="Razao-ar-combustivel">{{Mattingly.AF.0|floatformat:2}}</td>
					<td>Razão entre temperaturas do bocal de saída e do escoamento livre (T<sub>9</sub>/T<sub>0</sub>)</td> 
					<td id="T9/T0">{{T9_T0.0|floatformat:3}}</td>
				  </tr>
				</tbody>
			</table>
		</section> 

		<section>
			<img src="" alt="">
		</section>

		<section id="grafico">
			<div>
				<canvas id="canvas"></canvas>
			</div>
		</section>

		<section id="Resultados-secoes">

		</section>



		
	</main>

	<div class="footer-wrapper">
		<div class="container">
			<footer class="d-flex flex-wrap justify-content-between align-items-center rodape">
				<div class="col-md-4 d-flex align-items-center">
				<span>© 2023 AeroCalc </span>
				</div>
			</footer>	
		</div>
	</div>
	
	<script src="
		https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js
		"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>

	<script>
		window.datum = {
			Pos: JSON.parse('{{Datum.Pos}}'),
			P: JSON.parse('{{Datum.P}}'),
			T: JSON.parse('{{Datum.T}}')
		};
	</script>

	<script type="module" src="{% static 'js/chart.js' %}"></script>
	</body>
	
	</html>