<!DOCTYPE html>
<html lang="en">

{% load static%}

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'CSS/index.css' %}">
</head>

<body>
	<nav class="main-header">
		<div class="container d-flex flex-wrap">
			<ul class="nav me-auto">
				<li class="nav-item"><strong class="nav-link link-body-emphasis px-2">AeroCalc</strong></li>
				<li class="nav-item"><a href="/" class="nav-link link-body-emphasis px-2">Cálculo</a></li>
				<li class="nav-item"><a href="instrucoes" class="nav-link link-body-emphasis px-2">Instruções</a></li>
				<li class="nav-item"><a href="bibliografia" class="nav-link link-body-emphasis px-2">Bibliografia</a></li>
				<li class="nav-item"><a href="sobre" class="nav-link link-body-emphasis px-2">Sobre</a></li>
			</ul>
		</div>
	</nav>
	<main class="container">
		<section>
			<div>
				<h1 class="Titulo">Sobre</h1>
				<p>Conheça um pouco mais sobre a origem deste projeto.</p>
			</div>
			<hr>
		</section>
		<section>
			<h2>O Projeto</h2>
			<p class="Texto-sobre">O <b>AeroCalc</b> surgiu como uma iniciativa da disciplina de "Propulsão II", do curso de Engenharia Aeroespacial, da Universidade Federal de Minas Gerais (UFMG),
			com o objetivo de tornar mais acessível o cálculo paramétrico de motores aeronáuticos. Inicialmente pensado como um programa para
			computadores, o projeto logo se transformou na ideia de um site, que pudesse ser acessado de forma fácil e prática por qualquer pessoa. Atualmente, o AeroCalc está 
			disponível apenas em portugês do Brasil, porém com planos para a inclusão de novos idiomas que possam expandir seu acesso cada vez mais.</p>
			<h2>A Equipe</h2>
			<p class="Texto-sobre">Ao longo dos semestres, diversas turmas de alunos colaboraram com o desenvolvimento do projeto. Abaixo, podem ser vistos alguns dos integrantes da equipe, responsáveis
			pela implementação, revisão e correção dos códigos utilizados, além da criação deste site.
			</p>
			<!-- <section>
				<div class="container-imagem">
					<img src="{% static 'images/Vinicius-sobre.png' %}" class="imagem-professor" alt="">
				</div>

				<div class="container">
					<div class="row linha-sobre">
						<div class="col imagem-sobre">
							<img src="{% static 'images/Vinicius-sobre.png' %}" alt="">
						</div>
						<div class="col-9 informacoes">
							<div>
								<h2 class="nomeEquipe">Elements of Gas Turbine Propulsion</h2>
								<h3 class="Funcao">Jack D. Mattingly</h3>
							</div>
						</div>
					</div>
			</section> -->
			<h2>A Universidade</h2>
			<p class="Texto-sobre">Fundada em 1927, a UFMG é conhecida por sua excelência acadêmica e pesquisa inovadora em diversas áreas. A universidade é reconhecida nacional e internacionalmente
			por sua contribuição significativa para a pesquisa e desenvolvimento em várias disciplinas. Ela valoriza a diversidade, a inovação e a colaboração, buscando constantemente formas de impactar positivamente a sociedade.</p>
			<div class="container-imagem Texto-sobre">
				<img src="{% static 'images/UFMG.jpg' %}" class="imagem-UFMG" alt="">
			</div>
			<h2>Contato</h2>
			<p class="Texto-sobre">Este projeto está em constante desenvolvimento, por isso se tiver perguntas, ideias, ou apenas quiser compartilhar sua paixão por propulsão aeronáutica,
				nos mande uma mensagem em <a href="mailto:lhmachado.ufmg@gmail.com">lhmachado.ufmg@gmail.com</a>.</p>
		</section>
		
	</main>

	<div class="footer-wrapper">
		<div class="container">
			<footer class="d-flex flex-wrap justify-content-between align-items-center rodape">
				<div class="col-md-4 d-flex align-items-center">
				<span>© 2023 AeroCalc </span>
				</div>
			</footer>	
		</div>
	</div>
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
	</body>
	
	</html>