input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
  }

.main-header{
	background-color: #105ACB;
	color: #FFFFFF;
	opacity: 1;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin-bottom: 16px;
}

.nav-link{
	color: white!important;
}

.nav-link:hover{
	color: #f5f5f5!important;
}

.Titulo{
	margin-bottom: 10px;
}

.table thead th{
	text-align: center;
}

section{
	margin-bottom: 16px;
}

body{
	overflow-y: scroll;
}

hr{
	padding-bottom: 16px;
}

.imagem-bibliografia{
	display: flex;
	justify-content: center;
}

.linha-bibliografia{
	padding: 10px;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #ecf3fd;
	border-radius: 16px;
	margin-bottom: 20px;
}

.subtitulos{
	font-size: 1.6rem;
}

.subtitulos-instrucoes{
	font-size: 1.6rem;
	font-weight: bold;
}

.subsubtitulos{
	font-size: 1.4rem;
}

.titulo-bibliografia{
	font-weight: bold;
	font-size: 1.5rem;
}

.nome-autor{
	font-size: 1.2rem;
}

.descricao-bibliografia, .Texto-sobre{
	font-weight: 400;
	font-size: 1.1rem;
	text-align: justify;
}

.informacoes{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.entradas{
	margin-bottom: 16px;
}

main.container{
	min-height: calc(100vh - 129px);
	padding-bottom: 72px;
}

.Texto-sobre{
	margin-bottom: 32px;
}

.container-imagem{
	display: flex;
	justify-content: center;
}

.rodape{
	color: #FFFFFF;
	opacity: 1;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin-bottom: 16px;
}

.footer-wrapper{
	background-color: #105ACB;
	position: absolute;
    width: 100%;
}

.imagem-UFMG{
	border-radius: 16px;
	width: 80%;
}

.imagem-professor{
	border-radius: 50%;
	width: 150px;
}

.texto-equipe{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.nome-sobre{
	font-weight: 500;
	font-size: 1.2rem;
}

.linha-sobre{
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 20px;
}

.imagem-motor{
	width: 60%;
	margin-top: 32px;
	margin-bottom: 32px;
}

.Ramjet-esquematico{
	width: 80%;
	margin-bottom: 16px;
}

.resultados section{
	margin-bottom: 40px;
}

.imagem-resultados{
	display: flex;
	justify-content: center;
}

.imagem-grafico{
	margin-bottom: 60px;
}
